mat-sidenav-container {
    width: 100%;
    height: 100%;
}

mat-sidenav-content {
    display: grid;
    grid-template-rows: auto 1fr;
}

.main-area {
    display: grid;
    grid-template-rows: auto 1fr;
}

